/* Estilos para el TopBar */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #34495e;
  color: #ecf0f1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.topbar-title {
  font-size: 24px;
  font-weight: bold;
}

.topbar-user {
  display: flex;
  align-items: center;
}

.topbar-user i {
  font-size: 20px;
  margin-right: 10px;
}

.topbar-user span {
  font-size: 16px;
}